<html>
<body>

<title>Dice</title>

<h1>Roll the Dice!</h1>

<script type="text/javascript">

//return a random integer between 0 and 6
<% x = document.write(Math.floor(Math.random() * 6) + 1)

//return a second random integer between 0 and 6
var y = document.write(Math.floor(Math.random() * 6) + 1)

</script>

</script>

<img src="http://kiei925.com/images/dice/1.png" alt="Die1" width="200" height="200">

<img src="http://kiei925.com/images/dice/1.png" alt="Die2" width="200" height="200">

</body>
</html>

