<h1>Book List</h1>

<head>
<style>
table,th,td
{border:1px solid black;
border-collapse:collapse;}
th,td {padding:5px;}
th {text-align:left;}
</style>
</head>
</head>

<body>
<table style="width:300px">

<tr>
  <th>Title</th>
  <th>Author</th>
  </tr>

<tr>
  <td>Title 1</td>
  <td>Author</td>
  </tr>
</table>
</body>

</html>
