<h1>Book List</h1>


<head>
<style>
table,th,td
{border:1px solid black;
border-collapse:collapse;}
</style>
</head>

<body>

<table style="width:500px">
  <tr>
    <th>Title</th>
    <th>Star Rating</th>
  </tr>
<% books = Book.read %>
<% books.each do |book| %>
  <tr>
    <td> <%= book["book_title"] %></td>


    <td> to do - star rating </td>

  </tr>
<% end %>
</table>
</body>
