<h1>Book List</h1>

<h2> Editor's Pick: EFFIN PLACEHOLDER </h2>

<head>
<style>
table,th,td
{border:1px solid black;
border-collapse:collapse;}
</style>
</head>

<body>

<table style="width:500px">
  <tr>
    <th>Title</th>
    <th>Star Rating</th>
  </tr>
<% the_book = Book.read %>
<% the_book.each do |book| %>

  <tr>
    <td> <%= link_to book["book_title"], "books/#{book["id"]}" %> </td>

<% the_rating = Review.where("book_title" => book["book_title"]) %>


    <td>
    <% if the_rating.average("star_rating") == nil then %>
    <em> <%= "No ratings."  %> </em>
     <% else %>
     <%= the_rating.average("star_rating").round(1) %>
     <% end %>
     </td>

  </tr>
<% end %>
</table>
</body>
